<!DOCTYPE html>
<html>
<head>
  <title>Rabl</title>
  <%= stylesheet_link_tag    "rabl/application", :media => "all" %>
  <%= javascript_include_tag "rabl/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
